<div><h3>Create New Survey</h3></div>

	<% @survey.questions.each_with_index do |question,qi| %>
	<div class="formline">Q <%= qi + 1 %>: <input type="text" name="question[<%= question.id %>]" value="<%= question.title %>"></div>
		<% question.choices.each_with_index do |choice,ci| %>
		<div class="formline">C <%= ci + 1 %>: <input type="text" name="choice[<%= question.id %>][<%= choice.id %>]" value="<%= choice.title %>"></div>
		<% end %>
		<%= erb :'partials/_new_choice', :layout => false, :locals => { :question => question } %>

	<% end %>
	<div class="formline"><input type="submit" value="Update Survey"></div>

	<%= erb :'partials/_new_question' %>

