<h1><%=@survey.title%></h1>
<form action="/surveys/results/new" method="post">
<% @survey.questions.each_with_index do |question, qi| %>
  <div class="question-line"><%= "#{qi+1}. #{question.title}" %></div>
  <% question.choices.each_with_index do |choice, ci| %>
  <div class="choice-line"><input type="radio" name="<%= question.id %>" value="<%= choice.id %>"><%= "#{ci+1}. #{choice.title}" %></div>
  <%end%>
<%end%>
<input class="btn btn-default" type="submit" value="Take Survey">
</form>


